ul {
	list-style-type: square; 
	list-style-position: inside;
	background-color: black; 
	padding: 10px;   
}

ul li {
	background-color: lightgreen; 
	margin: 5px; 
}

ol {
	list-style-type: upper-roman;  
	background-color: cyan; 
	padding: 10px; 
}

ol li {
	background-color: yellow; 
	margin: 5px; 
}